# Ignore the temporary build directory
/Debug
/Release

# Ignore local, user-specific launch configurations
*.launch
/LPC1549/
/LPC11c14/
/LPC15xx/
/LPC15x9/

#ignore project files
*.cproject
*.project
